<p id="notice"><%= notice %></p>

<h1>Tweets</h1>

<% @tweets.each do |tweet| %>
   <div class="well"> 
   <div class="media">
    <div class="media-left media-top">
    <%= image_tag tweet.user.avatar.thumb, class: "img-circle"%>
  </div>

  <div class="media-body">
    <h4 class="media-heading"><%= link_to tweet.user.name, show_user_path(id: tweet.user.id) %> @<%= tweet.user.username %></h4>
    <p> Posted <%= time_ago_in_words(tweet.created_at) %> ago...</p>
    <p><%= tweet.message.html_safe %></p>
    
  </div>
</div>
</div>
  
<% end %>

<%= link_to 'New Tweet', new_tweet_path %>
