<h3> All Users </h3>


<div class= "row">
<% @users.each do |user| %>
	<div class="col-md-6">
		<div class="well profiles">
		<center>
					  	<p><%= image_tag user.avatar.url, class: "show_user img-circle" %></p>
					  	<p><strong><%= link_to user.name, show_user_path(id: user.id) %></strong> @<%= user.username %></p>
					  	<p>Location: <strong><%= user.location %></strong></p>
					  	<p>About: <%= user.bio %></p>
				 

				  	<p>
					    <% if current_user.following.include?(user.id) %>
					        <%= link_to "Unfollow", unfollow_path(id: user.id), class: "btn btn-danger" %>
					    <% else %>
					        <% if current_user.id != user.id %>
						    <%= link_to "Follow", now_following_path(id: user.id), class: "btn btn-primary" %>
						    
								<% end %>
					    <% end %>
						</p>
			</center>
				 </div>
			</div>
		<% end %>
	</div>			  	